/musicplayer/node_modules/
/musicplayer/Lib/
/musicplayer/Scripts/
/musicplayer/Include/
/musicplayer/pyvenv.cfg
/playermusic/Lib/
/playermusic/Scripts/
/playermusic/pyvenv.cfg
/musicplayer/public
/song
/song_album_art

/serverside/media